<div class="place">
  <h2><%= @place.title %></h2>

  <br />
  
  <p><%= image_tag @place.photo_url %></p>
  
  <br />
  
  <p><%= @place.description %></p>
   
	<% #I originally tried to use the ruby currency formatter, but it had rounding issues. I went with the solution below. Lazy, or clever? YOU DECIDE. %>
	
   <p>Price: $<%= '%.2f' % (@place.price.to_i/100.0) %>. Probably.</p>

   <%= link_to "Return to the place listing, delicious friend!", "/places" %>
  
</div>
